@import "tailwindcss";
@keyframes marquee {
  0% {
    transform: translateX(-33%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee 18s linear infinite;
}

.shapegrid-canvas {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}
